@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Marriweather", sans-serif;
}

.colorPrimary{
    background-color: rgb(252, 2, 177);
    color: gray;
}

footer {
    background-color: rgb(252, 2, 177);
    color: gray;
}

body {
    background-color: #181419;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgb(44, 41, 41);
}

::-webkit-scrollbar-thumb {
    background: rgb(134, 33, 33);
    border-radius: 10px;
}

/*ESTILO DEL HEADER*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    .navegacionPrincipal {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
    
        a {
            text-decoration: none;
            color: gray;
        }
    
        img {
            height: 50px;
            width: 40px;
            vertical-align: middle;
        }
        
        span {
            font-size: 1rem;
            font-family: inherit;
            font-weight: 550;
        }
    }
}

ul {
    list-style: none;
    display: flex;

    .menuNav {
        margin-right: 20px;
        transition: transform 0.3s, box-shadow 0.3s;
        &:hover {
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(252, 249, 249, 0.3);
            border-radius: 10px;
        }
    }

    a {
        text-decoration: none;
        color: grey;
        font-size: 20px;
        padding: 15px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    header {
        height: 30vh;
        .navegacionPrincipal {
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            align-content: space-around;
            flex-direction: column;
            a {
                text-decoration: none;
                color: gray;
                font-size: 1rem;
                text-align: center;
            }
        
            img {
                height: 30px;
                width: 30px;
                vertical-align: middle;
            }
            
            span {
                font-size: 1rem;
                font-family: inherit;
                font-weight: 550;
            }
        }
    }
    
    ul {
        list-style: none;
        display: flex;
        .menuNav {
            display: flex;
            margin-right: 10px;
            transition: transform 0.3s, box-shadow 0.3s;
            &:hover {
                transform: scale(0.95);
                box-shadow: 0 0 10px rgba(252, 249, 249, 0.3);
                border-radius: 10px;
            }
        }
    
        a {
            text-decoration: none;
            color: grey;
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    header {
        height: 10vh;
        .navegacionPrincipal {
            list-style: none;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            align-content: space-around;
            flex-direction: row;
            a {
                text-decoration: none;
                color: gray;
                font-size: 1rem;
                text-align: center;
            }
        
            img {
                height: 30px;
                width: 30px;
                vertical-align: middle;
            }
            
            span {
                font-size: 1rem;
                font-family: inherit;
                font-weight: 550;
            }
        }
    }
    
    ul {
        list-style: none;
        display: flex;
        .menuNav {
            display: flex;
            margin-right: 5px;
            transition: transform 0.3s, box-shadow 0.3s;
            &:hover {
                transform: scale(0.95);
                box-shadow: 0 0 10px rgba(252, 249, 249, 0.3);
                border-radius: 10px;
            }
        }
    
        a {
            text-decoration: none;
            color: grey;
        }
    }
}


/*ESTILO DEL MAIN*/

.seccionPrincipal {
    height: 100vh;
    display: flex;
    font-size: 2rem;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/bg-img.jpg);
    background-size: cover;
    background-position: center;
        
}

h1, h2, h3 {
    color: white;
}

div {
    justify-content: space-between;
    text-align: center;
    img {
        height: 300px;
        width: 200px;
    }

    h3 {
        width: 200px;
        font-size: 15px;
        margin-top: 20px;
    }
}

button {
    cursor:pointer;
    transition: all ease 0.5s;
}

@media screen and (max-width: 800px) {
    .seccionPrincipal {
        font-size: 1rem;
            
    }
}

.seccionBuscador {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #buscar {
        border: 2px solid gray;
        border-radius: 25px;
        color: black;
        font-size: 1.2rem;
        height: 50px;
        margin: 20px 0px;
        outline: none;
        padding: 0px 20px;
        width: 300px;
    }
    #btnBuscar {
        background-color: black;
        display: inline-block;
        color: gray;
        height: 50px;
        margin: 20px 10px;
        padding: 0 20px;
        border-radius: 25px;
        font-size: 1.2rem;
        font-weight: 700;
        border: 2px solid gray;
        text-align: center;
        &:hover {
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(252, 249, 249, 0.3);
            border-radius: 25px;
        }
    }
    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
}

button {
    background-color: black;
    color: gray;
    height: 50px;
    margin: 20px 10px;
    padding: 0 20px;
    border-radius: 25px;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid gray;
    text-align: center;
    a {
        text-decoration: none;
        color: grey;
    }
    &:hover {
        transform: scale(0.95);
        box-shadow: 0 0 10px rgba(252, 249, 249, 0.3);
        border-radius: 25px;
    }
}

.seccionSeries, .seccionPeliculas, .seccionMasVistas {
    margin-bottom: 40px;
    h2 {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;
        margin-top: 40px;
        text-align: center;
    }
    .btnAntSig {
        text-align: center;
    }
}

.catalogo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 70px;
    div {
        margin-bottom: 20px;
    }
}

.marginSeccion {
    margin-top: 100px;
}

/*ANIMACION*/

@-webkit-keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}
@keyframes hvr-pulse-grow {
    to {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
}
.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/*ESTILO DEL FOOTER*/
.footer {
    height: 12vh;
    display: flex;
    padding-top: 25px;
    .navegacionFooter {
        margin-left: 20%;
        .listaFooter {
            font-size: 1rem;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }
    
    .btnUp {
        float: right;
        i {
            width: max-content;
        }
    }

    i {
        color: red;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .footer {
        height: 30vh;
        flex-direction: column;
        .navegacionFooter {
            margin: 0;
            flex-direction: column;
            justify-content: center;
            .listaFooter a {
                font-size: 1rem;
                text-align: center;
                justify-content: space-between;

            }
        }

        .btnUp i {
            display: relative;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            margin-left: 250px;
        }
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .footer {
        height: 10vh;
        flex-direction: column;
        .navegacionFooter {
            margin: 0;
            flex-direction: column;
            justify-content: center;
            .listaFooter a {
                font-size: 1rem;
                text-align: center;
                justify-content: space-between;

            }
        }

        .btnUp i {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            margin-left: 250px;
        }
    }
}

/*detalle*/

.informacion {
    height: 80vh;
    background:linear-gradient(to right top, #6d6969a7, #6d6969a7),url("../assets/img/peli_1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: center;
    align-items: center;

    .movieDetail {
        display: flex;
        position: absolute;
        width: 70%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        height: max-content;
      
        .movieInfo {
            padding-top: 90px;
            margin-left: 90px;
        
            h2 {
                font-size: 40px;
            }
        
            p {
                margin-top: 30px;
                font-size: 20px;
                height: 10px;
            }
        }
    }    
}

.media {
    height: max-content;

    .mediaDetail {
        width: 80%;
        display: flex;
        width: 70%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        margin-top: 50px;
        padding-top: 30px;
        height: 400px;
    }

    .redes {
        margin-right: 100px;
        padding-top: 100px;
        h4 {
            font-size: 30px;
            color: whitesmoke;
        }
    
        img {
            width: 60px;
            height: auto;
            margin-right: 10px;
            margin-left: 20px;
            margin-top: 40px;
        }
    }
}

/*Estilo inicio de sesión*/

.iniciosesion {
    height: 88vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
}

.formulario {
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    padding: 40px;
    margin-top: 45px;
    background-image: url(../assets/img/bg-iniciosesion.jpg);
    background-size: cover;

    form {
        width: min-content;
        display: block;
        height: 60vh;

        h2 {
            margin-bottom: 40px;
            font-size: 35px;
            text-align: center;
        }

        label {
            font-size: 20px;
            margin-left: 15px;
            color: white;
        }

        input {
            width: 400px;
            height: 50px;
            padding: 10px;
            margin-bottom: 30px;
            border-radius: 30px;
            border-color: gray;
            border-style: solid;
        }

        .errorField {
            border: 2px solid red;
        }

        button {
            margin-top: 15px;
            width: 400px;
        }

        p {
            text-align: center;
            font-size: 18px;
            color: rgb(134, 33, 33);;
            a {
                color: rgb(134, 33, 33);
            }
            
        }

        #warnings{
            color: red;
            font-size: 15px;
        }
    }
}

